.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ebdd88;
  background-color: #ebdd88;
}

  
h2 {
font-family:'Trirong';
 color:#024f36;
}

h1{
  font-family:'Trirong';
  font-weight:bolder;
}

#content {
background-color:rgb(164, 187, 112);

color:rgb(49, 2, 64); 

border: 6px dotted #85083a;
}

body {
  background-color:#efc8fa;
}

div {
  columns: 4;
}

.special {
  border: solid #eb889a;
  background-color:#ebdd88;
}
