
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

h2 {
  font-family:'Trirong';
    color:#550358;
  }

h3 {
  font-family:'Trirong';
    color:#550358;
 }
  
h1 {
  font-family:'Trirong';
    font-weight:bolder;
  }

#content {
background-color:#ede7dd;

color: rgb(150 32 112);

border: 10px dotted #ab8abd
}

body {
  background-color:#d4b4cb;;
}

#mini .image-button {
  position: relative;
}

#mini .image-button img {
  width: 200px;
  height: 200px;
  transition: filter 0.3s ease;
}

#mini .image-button .description {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  background-color: rgba(248, 199, 199, 0.8);
  color: #014178;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease;
  font-size: 18px;
}

#mini .image-button:hover img {
  filter: brightness(50%);
}

#mini .image-button.clicked .description {
  opacity: 1;
}
